* {
  width: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Burbank';
  src: url('fonts/BurbankBigCondensed-Bold.otf');
}

@font-face {
  font-family: 'Alegreya Sans SC Black';
  src: url('fonts/AlegreyaSansSC-Black.ttf');
}

.horizontal-ad {
  display: inline-block;
  width: 728px;
  height: 90px;
  max-width: 728px;
  min-width: 728px;
  max-height: 90px;
  min-height: 90px;
  overflow: hidden;
}

.square-ad {
  display: inline-block;
  width: 300px;
  height: 250px;
  max-width: 300px;
  min-width: 300px;
  max-height: 250px;
  min-height: 250px;
  overflow: hidden;
}

#advertisement-top {
  position: relative;
  top: 78px;
}

#advertisement-middle {
  position: relative;
  top: 673px;
}

#advertisement-bottom {
  position: relative;
  top: 1268px;
}

body:before {
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  content: "";
  width: 100%;
  height: 100vh;
  background: url(../images/fortnitebkg.png) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 327px;
  height: 70px;
  line-height: 70px;
  padding-left: 15px;
  font-family: 'Burbank', 'Alegreya Sans SC', 'Alegreya Sans SC Black', sans-serif;
  font-size: 40px;
  color: #ffffff;
  z-index: 2;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.heading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 327px;
  height: 70px;
  padding-left: 15px;
  z-index: 3;
}

.nav {
  position: absolute;
  top: 0px;
  height: 70px;
  background-color: #223861;
  text-align: right;
  z-index: 1;
  box-shadow: 0px 3px 10px 0px rgba(39,38,38,0.6);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(39,38,38,0.6);
  -moz-box-shadow: 0px 3px 10px 0px rgba(39,38,38,0.6);
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.menu a {
  clear: right;
  line-height: 70px;
  padding: 25.4px 8px;
  font-family: 'Alegreya Sans SC', 'Alegreya Sans SC Black', 'Burbank', sans-serif;
  font-size: 18px;
  background-color: #223861;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  transition: .12s ease-in;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.menu a:hover {
  color: #8998cb;
}

#vaulted {
  margin-right: 10px;
}

.icon {
  position: relative;
  float: right;
  display: none;
  width: 100px;
  height: 70px;
  padding-left: 13px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.icon span {
  position: absolute;
  left: 0;
  display: block;
  height: 5px;
  width: 45px;
  margin-left: 75px;
  margin-top: 18px;
  background: #ffffff;
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.icon span:nth-child(1) {
  top: 0px;
}

.icon span:nth-child(2) {
  top: 12px;
}

.icon span:nth-child(3) {
  top: 24px;
}

.icon.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.icon.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#toggle {
  display: none;
}

.item-title {
  font-family: 'Alegreya Sans SC', 'Alegreya Sans SC Black', 'Burbank', sans-serif;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

.item-nav {
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.item-nav il {
  margin: 0px 20px;
}

.item-responsive, .item-responsive-large {
  display: inline;
}

.item-image {
  display: inline-block;
  transition: .2s ease-in;
  width: 90px;
  height: 90px;
  margin-bottom: 8px;
  padding: 5px;
  box-shadow: 0px 5px 5px 0px rgba(41,41,41,0.5);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(41,41,41,0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(41,41,41,0.5);
  border: #ffffff 4px solid;
}

.item-image:hover {
  transform: scale(1.050, 1.050);
  transition: .3s ease-in;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
}

.item-info-1-line {
  position: absolute;
  width: 100px;
  margin-top: 75px;
  margin-left: -95px;
  font-family: 'Alegreya Sans SC', 'Alegreya Sans SC Black', 'Burbank', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.item-info-2-line {
  position: absolute;
  width: 100px;
  line-height: 12px;
  margin-top: 71px;
  margin-left: -95px;
  font-family: 'Alegreya Sans SC', 'Alegreya Sans SC Black', 'Burbank', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.item-info-3-line {
  position: absolute;
  width: 100px;
  line-height: 12px;
  margin-top: 59px;
  margin-left: -95px;
  font-family: 'Alegreya Sans SC', 'Alegreya Sans SC Black', 'Burbank', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

#assault-item-nav, #submachine-item-nav, #item-item-nav, #pistol-nav, #other-nav, #vaulted-nav {
  height: 187px;
  border-top: solid #0a2454 6px;
}

#item-nav, #explosive-nav {
  height: 187px;
  border-top: solid #0a2454 6px;
  border-bottom: solid #0a2454 6px;
}

.content {
  position: absolute;
  top: -6px;
  transition: max-height .2s ease-in-out;
  height: 187px;
  max-height: 0px;
  background-color: #324a77;
  overflow: hidden;
  z-index: 1;
  border-top: solid #324a77 6px;
}

.large-content {
  position: absolute;
  top: -6px;
  transition: max-height .2s ease-in-out;
  height: 430px;
  max-height: 0px;
  background-color: #324a77;
  overflow: hidden;
  z-index: 1;
  border-top: solid #324a77 6px;
}

.text {
  width: 75%;
  padding-top: 5px;
  padding-left: 12px;
  font-family: 'Alegreya Sans SC', 'Alegreya Sans SC Black', 'Burbank', sans-serif;
  font-size: 25px;
  color: #ffffff;
  word-spacing: 2px;
}

.click {
  position: absolute;
  top: 5px;
  left: 84.4%;
  width: 73px;
  padding: 5px;
  font-family: 'Burbank', sans-serif;
  font-size: 20px;
  color: #f7ca18;
  cursor: pointer;
  z-index: 3;
  border: solid #ffffff 2px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.click:hover {
  transition: .3s ease-in;
  background-color: #324a77;
}

#check, #check-2, #check-3, #check-4, #check-5, #check-6, #check-7, #check-8 {
  display: none;
}

input[type="checkbox"]:checked ~ .content {
  max-height: 187px;
  z-index: 2;
  border-top: solid #ffffff 6px;
  border-bottom: solid #ffffff 6px;
}

input[type="checkbox"]:checked ~ .large-content {
  max-height: 430px;
  z-index: 2;
  border-top: solid #ffffff 6px;
  border-bottom: solid #ffffff 6px;
}

.footer-color {
  position: absolute;
  top: 2507px;
  height: 100px;
  background-color: #223861;
  box-shadow: 0px -3px 20px 0px rgba(39,38,38,0.6);
  -webkit-box-shadow: 0px -3px 20px 0px rgba(39,38,38,0.6);
  -moz-box-shadow: 0px -3px 20px 0px rgba(39,38,38,0.6);
}

.copyright {
  width: 96.7%;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  color: #ffffff;
}

.copyright a {
  color: #ffffff;
}

.copyright a:hover {
  color: #8998cb;
}

/* Common static */
#assault-item, #burst-assault-item, #heavy-assault-item, #suppressed-submachine-item, #submachine-item-old, #submachine-item-new, #tactical-item, #pistol, #revolver, #flint-knock-pistol {
  background: radial-gradient(#d0d0d0 0%,#6d7071 100%);
}
/* Uncommon static */
#scoped-assault-item, #infantry-item, #tactical-submachine-item, #drum-item, #pump-item, #semi-auto-item-item, #hunting-item, #six-shooter {
  background: radial-gradient(#5bad03 0%,#01700a 100%);
}
/* Rare static */
#bolt-action-item-item, #suppressed-pistol, #dual-pistol, #grenade-launcher, #crossbow, #light-machine-item {
  background: radial-gradient(#3dc7ff 0%,#0059a1 100%);
}
/* Epic static */
#thermal-assault-item, #suppressed-assault-item, #compact-submachine-item, #heavy-item, #double-barrel-item, #heavy-item-item, #suppressed-item-item, #hand-cannon, #scoped-revolver, #rocket-launcher, #guided-missile, #quad-launcher, #miniitem, #fiend-hunter-crossbow, #cupids-crossbow {
  background: radial-gradient(#d27bf4 0%,#7907a5 100%);
}
/* Legendary static */
#boom-bow, #zapotron {
  background: radial-gradient(#fb9625 0%,#875134 100%);
}
/* Common hover */
# {
  background: radial-gradient(#d0d0d0 0%,#6d7071 100%);
}
/* Uncommon hover */
#pistol:hover, #flint-knock-pistol:hover {
  background: radial-gradient(#5bad03 0%,#01700a 100%);
}
/* Rare hover */
#scoped-assault-item:hover, #heavy-assault-item:hover, #submachine-item-old:hover, #suppressed-submachine-item:hover, #submachine-item-new:hover, #drum-item:hover, #tactical-item:hover, #semi-auto-item-item:hover, #hunting-item:hover, #revolver:hover {
  background: radial-gradient(#3dc7ff 0%,#0059a1 100%);
}
/* Epic hover */
#tactical-submachine-item:hover, #bolt-action-item-item:hover, #suppressed-pistol:hover, #dual-pistol:hover, #six-shooter:hover, #crossbow:hover, #light-machine-item:hover, #fiend-hunter-crossbow:hover, #cupids-crossbow:hover {
  background: radial-gradient(#d27bf4 0%,#7907a5 100%);
}
/* Legendary hover */
#assault-item:hover, #burst-assault-item:hover, #thermal-assault-item:hover, #suppressed-assault-item:hover, #infantry-item:hover, #compact-submachine-item:hover, #pump-item:hover, #heavy-item:hover, #double-barrel-item:hover, #heavy-item-item:hover, #suppressed-item-item:hover, #hand-cannon:hover, #scoped-revolver:hover, #rocket-launcher:hover, #grenade-launcher:hover, #guided-missile:hover, #quad-launcher:hover, #boom-bow:hover #zapotron:hover, #miniitem:hover {
  background: radial-gradient(#fb9625 0%,#875134 100%);
}

/* For screens of 10000px or less */
@media only screen and (max-width: 10000px) {
  .item-responsive-large {
    display: block;
  }

  .item-responsive-condense {
    display: inline;
  }
}

/* For screens of 1245px or less */
@media only screen and (max-width: 1245px) {
  .header {
    width: 90%;
  }

  .icon {
    display: block;
    padding-right: 22px;
    cursor: pointer;
  }

  .menu {
    max-height: 0px;
    transition: max-height .5s ease-in-out;
    opacity: 0;
    overflow: hidden;
  }

  .menu a {
    display: block;
    height: 8vh;
    line-height: 8vh;
    margin: 0px;
    padding: 0px 0px;
    border-bottom: 1px solid #eaeaeb;
  }

  #toggle {
    display: none;
  }

  #toggle:checked + .menu {
    max-height: 800px;
    opacity: 1;
  }

  #toggle:not(checked) + .menu {
    max-height: 0px;
    opacity: 1;
}

/* For screens of 985px or less */
@media only screen and (max-width: 985px) {
  .header {
    width: 85%;
  }
}

/* For screens of 930px or less */
@media only screen and (max-width: 930px) {
  .item-image {
    width: 80px;
    height: 80px;
  }

  .item-nav il {
    margin: 0 10px;
  }

  .item-info-1-line {
    width: 90px;
    margin-top: 65px;
    margin-left: -85px;
  }

  .item-info-2-line {
    width: 90px;
    margin-top: 61px;
    margin-left: -85px;
  }

  .item-info-3-line {
    width: 90px;
    margin-top: 49px;
    margin-left: -85px;
  }

  input[type="checkbox"]:checked ~ .large-content {
    max-height: 400px;
  }

  .footer-color {
    position: absolute;
    top: 2475px;
  }
}

/* For screens of 770px or less */
@media only screen and (max-width: 770px) {
  .horizontal-ad {
    width: 95%;
    height: 90px;
    max-width: 95%;
    min-width: 95%;
    max-height: 90px;
    min-height: 90px;
    overflow: hidden;
  }
}

/* For screens of 760px or less */
@media only screen and (max-width: 760px) {
  .item-image {
    width: 70px;
    height: 70px;
  }

  .item-nav il {
    margin: 0 5px;
  }

  .item-info-1-line {
    width: 80px;
    margin-top: 58px;
    margin-left: -75px;
    font-size: 14px;
  }

  .item-info-2-line {
    width: 80px;
    margin-top: 51px;
    margin-left: -75px;
    font-size: 14px;
  }

  .item-info-3-line {
    width: 80px;
    margin-top: 39px;
    margin-left: -75px;
    font-size: 14px;
  }

  input[type="checkbox"]:checked ~ .large-content {
    max-height: 370px;
  }

  .footer-color {
    position: absolute;
    top: 2443px;
  }
}

/* For screens of 640px or less */
@media only screen and (max-width: 640px) {
  #advertisement-middle {
    position: relative;
    top: 761px;
  }

  #advertisement-bottom {
    position: relative;
    top: 1448px;
  }

  .header {
    width: 78%;
  }

  .item-responsive {
    display: block;
  }

  .item-responsive-condense {
    display: block;
  }

  #assault-item-nav, #pistol-nav {
    padding-bottom: 95px;
  }

  #submachine-item-nav, #item-nav, #item-item-nav, #pistol-nav {
    margin-top: 100px;
  }

  #explosive-nav, #other-nav {
    margin-top: 200px;
  }

  #vaulted-nav {
    margin-top: 195px;
  }

  .content, .large-content, .click {
    display: none;
  }

  .footer {
    position: absolute;
    top: 488px;
  }
}

/* For screns of 465px or less */
@media only screen and (max-width: 465px) {
  .header {
    width: 78%;
  }
}

/* For screns of 440px or less */
@media only screen and (max-width: 440px) {
  .header {
    width: 78%;
    font-size: 34px;
  }

  .heading {
    width: 278px;
  }

  .icon span {
    margin-top: 20px;
    margin-left: 85px;
    width: 40px;
    height: 4px;
  }

  .icon span:nth-child(1) {
    top: 0px;
  }

  .icon span:nth-child(2) {
    top: 10px;
  }

  .icon span:nth-child(3) {
    top: 20px;
  }

  .icon.open span:nth-child(1) {
    top: 10px;
  }

  .icon.open span:nth-child(3) {
    top: 10px;
  }
}

/* For screns of 380px or less */
@media only screen and (max-width: 380px) {
  .header {
    width: 77%;
    font-size: 30px;
    padding-left: 5px;
  }

  .heading {
    width: 235px;
  }

  .icon span {
    margin-top: 21px;
    margin-left: 95px;
    width: 35px;
    height: 4px;
  }

  .icon span:nth-child(1) {
    top: 0px;
  }

  .icon span:nth-child(2) {
    top: 9px;
  }

  .icon span:nth-child(3) {
    top: 18px;
  }

  .icon.open span:nth-child(1) {
    top: 9px;
  }

  .icon.open span:nth-child(3) {
    top: 9px;
  }

  .item-title {
    font-size: 32px;
  }
}

/* For screens of 360px or less */
@media only screen and (max-width: 360px) {
  .square-ad {
    width: 240px;
    height: 225px;
  }

  #advertisement-middle {
    position: relative;
    top: 730px;
  }

  #advertisement-bottom {
    position: relative;
    top: 1392px;
  }

  #submachine-item-nav {
    margin-top: 80px;
  }

  #item-nav {
    margin-top: 70px;
  }

  #item-item-nav {
    margin-top: 60px;
  }

  #pistol-nav {
    margin-top: 50px;
  }

  #explosive-nav {
    margin-top: 135px;
  }

  #other-nav {
    margin-top: 125px;
  }

  #vaulted-nav {
    margin-top: 110px;
  }

  .footer-color {
    position: absolute;
    top: 2355px;
  }

  .copyright {
    font-size: 10px;
  }
}

/* For screens of 340px or less */
@media only screen and (max-width: 340px) {
  .header {
    width: 80%;
    font-size: 27px;
    padding-left: 5px;
  }

  .heading {
    width: 210px;
  }

  .icon span {
    margin-top: 22px;
    margin-left: 98px;
    width: 32px;
    height: 4px;
  }

  .icon span:nth-child(1) {
    top: 0px;
  }

  .icon span:nth-child(2) {
    top: 8px;
  }

  .icon span:nth-child(3) {
    top: 16px;
  }

  .icon.open span:nth-child(1) {
    top: 8px;
  }

  .icon.open span:nth-child(3) {
    top: 8px;
  }

  .item-title {
    font-size: 30px;
  }
}

/* For screens of 319px or less */
@media only screen and (max-width: 319px) {
  .item-image {
    width: 65px;
    height: 65px;
  }

  .item-info-1-line {
    width: 75px;
    margin-top: 54.4px;
    margin-left: -70px;
    font-size: 12px;
  }

  .item-info-2-line {
    width: 75px;
    margin-top: 46px;
    margin-left: -70px;
    font-size: 12px;
  }

  .item-info-3-line {
    width: 75px;
    margin-top: 34px;
    margin-left: -70px;
    font-size: 12px;
  }

  .footer-color {
    position: absolute;
    top: 2320px;
  }
}
